footer{
    padding: 40px 0;
    background-color: #0A0A46;
    color: white;

    #logo{
        color: #FF326E;
        font-weight: 600;
        flex: 1;
    }

    .links{
        display: flex;
        justify-content: space-between;

        ul{
            flex: 0.5;
            li{
                padding: 4px 0;
                a{
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            &.about{
                a{
                    font-weight: 500;
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;

        ul{
            display: flex;
            li{
                padding-right: 20px;
            }

        &.socials{
            li{
                a{
                    color: white;
                    font-size: 20px;
                }
            }
        }
        }

        i{
            font-size: 20px;
        }
    }
}